.logo {
    float:left;
    width:40%;
    min-height: 100vh;
}


.logo img{
    position:absolute;
    width: 210px;
    height:320px;
    top:20%;
    left:10%;
    transition: width 3s, height 3s, left 3s, top 3s;


}
.Homepage{
    float:left;
    width:60%;
    min-height: 100vh;
}