.logo {
    float:left;
    width:40%;
    min-height: 100vh;
}


.logo img{
    position:absolute;
    width: 210px;
    height:320px;
    top:20%;
    left:10%;
    transition: width 5s, height 5s, left 5s, top 5s;


}
.Homepage{
    float:left;
    width:60%;
    min-height: 100vh;
}