.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}


.logo {
    float:left;
    max-width:40%;
    min-height: 100vh;
    width:768px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img {
    width: 210px;
    height: 320px;
    transition: width 3s, height 3s, left 3s, top 3s;
    margin-left: auto;
    margin-right: auto;


}

.Homepage{
    float:left;
    width:1152px;
    max-width: 60%;
    max-height: 100vh;

}
