.Overlay {
    width:80%;
    background-color: #efe1d9;
    margin-right:auto;
    margin-left:auto;
    margin-top:5%;
    margin-bottom:5%;
    z-index: 99999;
    height:80vh;
}
.Container1{
    float:left;
    width:20%;
    height:80%;
    padding-top:10%;
}
.Container2{
    float:left;
    width:40%;
    height:70%;
    padding-top:10%;
}
.Container3{
    float:left;
    width:40%;
    height:80%;
   padding-top:10%;
}

.UserInfo{
    height:100%;
}
.UserPhoto{
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserPhoto img{
    height:75px;
    width:75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.UserData{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
}


.tiles{
    width:40%;
    height:30%;
    border-radius:10px;
    background-color: #c9a5ff;
    margin-left:30px;
    margin:10px;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiles:hover{
    background-color: #ffc595;
    cursor:pointer;
}

.tiles span {
    text-align: center;
    color:white;
    font-family: Lato;
}