.addingBook Button {
    width: 300px;
    background-color: #ffaa71;
    font-size: 20px;
    color:white;
    padding: 15px 10px;
    margin-top:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    letter-spacing: 2px;
    outline:none;
    margin-top:20px;
}
Button:hover{
    background-color: #4292f2;
}

Button:focus {
    -webkit-box-shadow: 0px 0px 15px 0px rgb(217, 153, 113);
    -moz-box-shadow: 0px 0px 15px 0px rgb(217, 153, 113);
    box-shadow: 0px 0px 15px 0px rgb(217, 153, 113);
}
